# Exemplo de arquivo .env

# Token do bot (obrigatório)
TOKEN=''

# Prefixo do bot
PREFIX=',,'

# ID do dono do bot (separe por vírgula se houver mais de um dono)
OWNER_IDS='804509819254866000'

# URL do banco de dados MongoDB
MONGO='mongodb://localhost:27017/'

#api de arquivos
FILES_API = 'https://nanyussk-files.vercel.app'

